language: java
jdk:
  - oraclejdk8
before_install:
  - openssl aes-256-cbc -K $encrypted_b9bad04cd03e_key -iv $encrypted_b9bad04cd03e_iv
    -in id_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
after_success:
- scp ./target/wechat-service-1.0.0-SNAPSHOT.jar root@47.110.46.159:/root/workspace