language: java
jdk:
  - oraclejdk8
before_install:
  - openssl aes-256-cbc -K $encrypted_b9bad04cd03e_key -iv $encrypted_b9bad04cd03e_iv
    -in id_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
after_success:
  - scp ./target/wechat-service-1.0.0-SNAPSHOT.jar root@47.110.46.159:/root/workspace
addons:
  ssh_known_hosts: 47.110.46.159

deploy:
  provider: releases
  # Github oauth token
  skip_cleanup: true
  api_key:
    secure: acCJaiM3g4pG/HyoEp5z50JiQByfV+679+BDnD0F0tU25iXL0HUt/byrzi51p9qbS+FR21/sdoqACmWizB0O3nScn7VHoJbRCZebyDsXQ4xUGtRtKsDTALFjmQzOyvJlWfXuXhHyoTC+nkvHCgQoeI/gzIAn+dvgFggvmVms9mQZoxf727iGaeRgco8o2F1X3ZQLDalcVAKr+NZn7JuzMSHnduqRyWBBB2j/kI769J/twOWuRUnHArebmVddDfKuxXR9Ar1X6t65UDtT2l0Ivmp3DA+OPMwBXxQb+D/nbO/M3SJwMCqjMXGkK9ySCutkPbNsbPg8YDv7FSnpNCLvCbMYG/D+UZ7odYXk6Sdkk/M0GlxPuAkBtNOAZmK6qcFYn1kVA8tqYrhQ6iRnbopAea+Y3BtYS/amhQhOBLPbDyaElJrcaxFDuppu/kOPN1aHJk/iVq1AIjyBQQEn8RXrbQTfzy/MeUtisTNLb3Vk2Z47LYKObwcfiXWyWkR8bJjX9F7aJ8e4BCH/gGfFkRNdDVivG/cgcZtDnKS3im5AFo3nY35VU64VePLdnlpNrG7BqZRsPKBteWw3DduylLybuFhDWQI28pWnd30t2UEWy1+z5u2ab+lfav73/GtC133PP/H90lvEtz0xrBmg/sJlE0HLO8zjcSlt18IwDDsZ7PQ=
  file: ./target/wechat-service-1.0.0-SNAPSHOT.jar
  on:
    tags: true